@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Here I have used design of body */
body {
    background-color: rgb(243, 243, 243);
}

#class-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2em;
}

#class-intro {
    font-family: "Roboto", sans-serif;
}

#class-description {}

.section {
    background-color: rgb(37, 37, 11);
    width: 500px;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    height: 300px;
    width: 300px;
    margin: 10px auto;
    background-color: rgb(243, 243, 243);
    text-align: center;
    font-size: 16px;
}



.card h1 {
    color: rgb(143, 0, 0);
    padding-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.card p {
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}


#class-description {
    font-family: "Josefin Sans", sans-serif;
    width: 500px;
    margin: 20px auto;
    border: 2px solid red;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;


}

#class-description span {
    color: blue;
    font-style: italic;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 2px;
}

.section{
    font-size: 25px;
}

.section .card h1{
    font-size: 2em;
}